@import url('https://fonts.googleapis.com/css2?family=Borel&family=Flavors&family=Funnel+Display:wght@300..800&family=Mogra&display=swap');/*for the fonts*/
:root{
    --back:#1C1C1E;
    --aside:#a0622c;/* for aside in grid layout*/
    --main:#a37837;
    --hover:#FDCB6E;
    --text:#E5E5E7;
    --main2:#98b2af;
    --text2:#d9d799;
}
a{
    text-decoration: none;
    color:var(--text);
}

nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
    background-color:var(--main);
    max-height:100%;/*making sure it doesnt overflow*/
    max-width:100%;
    margin-top: 1rem;
    position: relative;

}
li{
    list-style-type:none;
    padding-left:.5rem;
    padding-top: .5rem;
    margin-top: 1rem;
    
}
nav li a{
    color:var(--text);
    text-decoration: none;
}
#logo{
    color:black;
    font-family: "Borel", serif;
    font-weight: 800;
    font-style: normal;
    font-size:2rem;
    padding-left:0rem ;
    padding-top:.2rem;
    
}
a:hover{
    color:var(--hover);
}
a:visited{
    color:black;
}
body{
    font-family: "Mogra", serif;
    background-color: var(--back);
}
form{
    margin:2em;
}
legend{
    
    color:var(--text);
    font-family: "Flavors",Mogra,roboto;
    font-size: 4em;
    font-weight: 4em;
    text-align: center;

}

fieldset{
    width:60%;
    margin:3em;
    justify-self: center;
    margin-top:1em;
    border-radius:4em;
   
}

div{
    margin:2em;
    background-color: rgb(16, 37, 67);
    color:white;
    width:80%;
    height:3em;
    font-size: 20pt;
    padding:1em;
    border:.5em;
    border-radius: .5em;
    opacity: .97;
}
div input{
    width: 90%;
    height:40%;
    border-radius: .3em;
}
#msg{
    height:8em;
    padding-bottom: .5em;
    width:80%;
    margin-bottom:.5em;
}
#message{
    width:90%;
    height:60%;
    border-radius: .8em;
}

button{
    height:3em;
    width:30%;
    border-radius: 1em;
    margin-bottom: .5em;
    margin-top:1em;
    margin-left:4em;
    font-size:1.5em;
    background-color:var(--text);
}
